doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Welcome to Koa Property
    body
        br
        p Hello, #{name}
        br
        p Thank you for registering to Koa Property.
        p Your request is sent for admin approval.  We will notify you once admin approve you request.
        br
        p Regards,
        p Koa Property team