doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Welcome to Koa Property
    body
        br
        p Hello, #{name}
        br
        p Congratulations you are now broker on Koa Property.
        p Your request is approved by admin.
        br
        a(href=`http://localhost:3000/api/v1/auth/login` target="_blank" style="text-decoration:none;background:#101415;color:white;padding:8px 18px;margin:auto;border-radius:4px;display:inline-block;") Login ✨
        br
        br
        p Regards,
        p Koa Property team